.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flex-item {
  flex: 1 1 auto;
}

.icon {
  background-color: transparent;
  flex-shrink: 0;
  max-width: 100%;
  max-height: auto;
}
